# Metabase Connection
METABASE_URL=https://your-metabase-host:port
METABASE_SITE_URL=https://your-metabase-host:port
METABASE_USERNAME=your@email.com
METABASE_PASSWORD=yourpassword
METABASE_SECRET=your_metabase_secret_key

# App Config
PORT=3000
NOVA_DB_ID=2
CACHE_TTL=3600
